.photo-grid {
    border: 1px solid red;
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 10px;
}