@media (min-width: 1025px) {
    .photo-grid {
        width: 1184px;
        gap: 16px;
    }
}

@media (min-width: 928px) and (max-width: 1024px) {
    .photo-grid {
        width: 928px;
        gap: 16px;
    }
}

@media (min-width: 720px) and (max-width: 927px) {
    .photo-grid {
        width: 720px;
        gap: 16px;
    }
}

@media (max-width: 719px) {
    .photo-grid {
        width: 288px;
        gap: 12px;
    }
}

.photo-grid {
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-items: center;
    align-items: center;
}