.intro__list {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style-type: none;
}

.intro__list:first-of-type {
    margin-top: 33px;
}