li {
    list-style-type: none;
}

.intro__list {
    margin: 0;
    font-size: 12px;
    font-weight: regular;
    font-family: 'Inter';
    font-style: normal;
}

.intro__list:first-of-type {
    margin-top: 33px;
}

.intro__list:last-of-type {
    margin-bottom: 92px;
}