.lead {
    margin: 0 auto 0;
    max-width: 984px;
}

@media (min-width: 928px) and (max-width: 1024px) {
    .lead {
        width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 927px) {
    .lead {
        width: 768px;
    }
}

@media (min-width: 721px) and (max-width: 767px) {
    .lead {
        width: 720px;
    }
}

@media (max-width: 720px) {
    .lead {
        width: 320px;
    }
}