.cover__subtitle {
    z-index: 2;
    max-width: 360px;
    color: #FFFFFF;
    margin-top: 32px;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: Regular;
    line-height: 22px;
    text-align: center;
}