.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1025px) {
    .header {
        margin: 28px auto 56px;
    }
}

@media (min-width: 928px) and (max-width: 1024px) {
    .header {
        width: 928px;
    }
}

@media (min-width: 720px) and (max-width: 1024px) {
    .header {
        margin: 28px auto 48px;
    }
}

@media (min-width: 720px) and (max-width: 928px) {
    .header {
        width: 720px;
    }
}

@media (max-width: 719px) {
    .header {
        width: 288px;
        margin: 16px auto 48px;
    }
}