@media screen and (max-width: 699px) {
    .header img {
        width: 142px;
    }
    .header a {
        font-size: 1.1rem;
    }
}

@media (max-width: 699px) {
    .header {
        width: 288px;
    }
}

.header {
    margin: 28px auto 0;
    max-width: 1184px;
    position: relative;
}