.lead__title {
    color: #ffffff;
    margin: auto;
    max-width: 720px;
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    font-family: 'Inter';
    font-style: normal;
}