.lead__title {
    color: #ffffff;
    max-width: 720px;
    font-size: 6rem;
    text-align: center;
    line-height: 1.01;
    font-family: 'Inter';
    font-style:  bold;
    font-weight: 900;
    font-display: swap;
}