.intro {
    color: #ffffff;
    max-width: 690px;
}

@media (min-width: 1025px) {
    .intro {
        margin: 92px 148px 92px;
    }
}

@media (min-width: 928px) and (max-width: 1024px) {
    .intro {
        margin:92px 48px 92px;
    }
}

@media (min-width: 721px) and (max-width: 927px) {
    .intro {
        width: 720px;
        margin: 88px 24px 88px;
    }
}

@media (max-width: 720px) {
    .intro {
        width: 288px;
        margin: 64px auto 64px;
    }
}