.lead__subtitle {
    color: #ffffff;
    max-width: 640px;
    margin: 32px auto 0;
    text-align: center;
    font-size: 1.88rem;
    line-height: 36px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__subtitle {
        font-size: 1.9rem;
        width: 600px;
    }
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        font-size: 1rem;
        width: 288px;
        margin-top: 16px;
        line-height: 1.25;
    }
}