.lead__subtitle {
    color: #ffffff;
    max-width: 640px;
    margin: auto;
    margin-top: 32px;
    text-align: center;
    font-size: 30px;
    font-weight: Regular;
    line-height: 36px;
    font-family: 'Inter';
    font-style: normal;
}