@media screen and  (max-width: 699px) {
    .cover h2{
        font-size: 2rem;
        max-width: 288px;
    }
    .cover h3{
        font-size: 0.9rem;
        max-width: 288px;
        margin-top: 16px;
    }
}

.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
	text-decoration: none;
}

.cover:hover::after {
	width: 100%;
	height: 100%;
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.3);
}