.lead__caption {
    border: 1px solid red;
    color: #ffffff;
    margin-top: 8px;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 0;
}