.lead__caption {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 0.79rem;
    line-height: 1.3;
    font-family: 'Inter';
    font-style:  regular;
    font-weight: 400;
    font-display: swap;
}