.lead__caption {
    color: #ffffff;
    margin-top: 8px;
    display: inline-block;
    font-size: 10px;
    font-weight: Regular;
    line-height: 14px;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
}