.place__website-container {
    margin: 0;
}

@media screen and (min-width: 1025px) {
    .place__website-container {
        align-self: flex-end;
    }
}

@media screen and (min-width: 928px) and (max-width: 1024px) {
    .place__website-container {
        align-self: flex-end;
    }
}

@media screen and (min-width: 720px) and (max-width: 927px) {
    .place__website-container {
        align-self: flex-end;
    }
}

@media (max-width: 719px) {
    .place__website-container {
        font-size: 0.3rem;
        margin-left: 16px;
    }
}