@media screen and (min-width: 1025px) {
    .places ul {
        align-self: flex-end;
        margin: 0 0 3px;
    }
}

@media screen and (min-width: 928px) and (max-width: 1024px) {
    .places ul{
        align-self: flex-end;
        margin-bottom: 0;
    }
    .place h2 {
        line-height: 1.05;
    }
    .place div {
        margin: 5px 0 0;
    }
}

@media screen and (min-width: 720px) and (max-width: 927px) {
    .place h2 {
        font-size: 2.73rem;
    }
    .places ul{
        align-self: flex-end;
        margin: 0;
    }
    .places p{
        font-size: 0.99rem;
    }
}

@media (max-width: 719px) {
    .place h2 {
        font-size: 2rem;
        margin-left: 16px;
    }
    .place div {
        font-size: 1rem;
        margin-left: 16px;
    }
    .places p{
        font-size: 1rem;
    }
    .places ul{
        font-size: 0.3rem;
        margin-left: 16px;
    }
}

@media (min-width: 1025px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 463px));
        gap: 43px 39px;
        margin-bottom: 79px;
    }
}

@media (min-width: 928px) and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 440px));
        gap: 49px 32px;
        margin-bottom: 76px;
    }
}

@media (min-width: 720px) and (max-width: 927px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 340px));
        gap: 40px 28px;
        margin-bottom: 70px;
    }
}

@media (max-width: 719px) {
    .place {
        grid-template-columns: repeat(1, 320px);
        gap: 32px 0;
        margin-bottom: 72px;
    }
}

.place {
    max-width: 100%;
    display: grid;
}

.place:last-of-type {
    margin-bottom: 0;
}