.place {
    max-width: 100%;
    display: grid;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 1025px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 463px));
        gap: 48px 40px;
    }
}

@media (min-width: 928px) {
    .place {
        margin-bottom: 80px;
    }
}

@media (min-width: 928px) and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 440px));
        gap: 49px 32px;
    }
}

@media (min-width: 720px) and (max-width: 927px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 340px));
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media (max-width: 719px) {
    .place {
        grid-template-columns: repeat(1, 320px);
        gap: 32px 0;
        margin-bottom: 50px;
    }
}