.footer {
    background-color: #2A2C2F;
    color: #FFFFFF;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

@media (min-width: 1025px) {
    .footer {
        width: 100%;
        margin: 92px auto 0;
    }
}

@media (min-width: 930px) and (max-width: 1024px) {
    .footer {
        width: 930px;
        margin: 92px auto 0;
    }
}

@media (min-width: 720px) and (max-width: 929px) {
    .footer {
        width: 720px;
        margin: 88px auto 0;
    }
}

@media (max-width: 719px) {
    .footer {
        width: 288px;
        flex-wrap: wrap;
        margin: 64px auto 0;
        min-height: 310px;
    }
}