.place__website {
    margin: 0 0 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #aaaaaa;
}