.place__website-white {
    color: #ffffff;
    text-decoration: underline;
    font-family: 'Inter';
    font-style:  regular;
    font-weight: 400;
    font-display: swap;
    font-size: 1.1rem;
    line-height: 1.2;
    align-self: end;
    justify-self: end;
}